In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import nltk
from nltk.stem.porter import PorterStemmer
nltk.download("stopwords")
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words("english"))

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix,ConfusionMatrixDisplay
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import StratifiedKFold
from sklearn.metrics import accuracy_score
from wordcloud import WordCloud
from sklearn.tree import DecisionTreeClassifier
from xgboost import XGBClassifier
import pickle
import re

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\osama\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
data = pd.read_csv("dataset.csv")
print(f"Data shape : {data.shape}")

Data shape : (50000, 3)

In [4]:
data.head()

   Index                                             review  sentiment
0      0  One of the other reviewers has mentioned that ...          1
1      1  A wonderful little production. <br /><br />The...          1
2      2  I thought this was a wonderful way to spend ti...          1
3      3  Basically there's a family where a little boy ...          0
4      4  Petter Mattei's "Love in the Time of Money" is...          1

In [5]:
#Cloumn names
print(f"Coloumn names : {data.columns.values}")

Coloumn names : ['Index' 'review' 'sentiment']

In [6]:
data.isnull().sum()

Index        0
review       0
sentiment    0
dtype: int64

In [7]:
data["Length"]=data["review"].apply(len)